@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>Descrição da ferramenta</h3>

<p>Akael lhe permite registrar e visualizar informações relativas a um modelo de referência, como áreas de processo, metas específicas, níveis de maturidade e demais componentes do modelo. </p>
